{%- style -%}
  .custom-title {
    text-align: center;
    max-width: 65%;
    margin: auto;
}
  .custom-wrapper {
      height: 100vh;
  }
  .custom-wrapper{
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .custom-image img {
      width: 100%;
  }
 .custom-grid {
    width: 95%;
    position: relative;
  }
  /* .custom-aligment-left .image-two {
    width: 50%;
    position: absolute;
    transform: translate(-65%, 15%);
    top: 25%;
  } */
  .custom-aligment-left .image-two {
    width: 50%;
    position: absolute;
    transform: translate(35%, 25%);
    bottom: 0;
    right: 0px;
}
 .custom-aligment-left .custom-text {
      padding-left: 250px;
  }
  .custom-image .image-first {
    width: 85%;
    position: relative;
  }
  .custom-wrapper p {
    max-width: 550px;
  }
  /* custom right */
  .custom-wrapper.custom-aligment-right {
      flex-direction: row-reverse;
  }
   .custom-aligment-right .custom-grid.custom-image {
      text-align: right;
  }
  .custom-aligment-right .custom-grid.custom-text {
    padding-right: 250px;
  }
  /* .custom-aligment-right .image-two{
    position: absolute;
    width: 50%;
    transform: translate(-201%, 34%);
    top: 25%;
  } */
 .custom-aligment-right .image-two {
    position: absolute;
    width: 50%;
    transform: translate(-25%, 25%);
    top: 40%;
    left: 0;
}


 @media screen and (max-width: 768px) {
    .custom-grid {
        width: 100%;
    }
    .custom-wrapper {
       flex-wrap: wrap;
       height: 100%;
    }
     .custom-grid.custom-image {
      margin-bottom: 50px;
    }
    .custom-title {
      text-align: center;
      max-width: 100%;
      margin: auto;
    }
    .custom-aligment-right .custom-grid.custom-text {
      padding-right: 0px;
    }
     .custom-aligment-left .custom-text {
      padding-left: 0px;
    }
    .custom-aligment-left .image-two , .custom-aligment-right .image-two{
    transform: none;
    }
}
  
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="custom-image-text {{ section.settings.add_class }} section-{{ section.id }}-padding">
  <div class="page-width">     
      <div class="custom-title">
        {% if section.settings.heading !=blank %}
        <h2 class="group_heds">{{ section.settings.heading }}</h2>
        {% endif %}   
         {% if section.settings.sub_heading !=blank %}
        <p class="group_heds">{{ section.settings.sub_heading }}</p>
        {% endif %}    
      </div>
      <div class="custom-wrapper custom-aligment-{{ section.settings.column_alignment }}">   
        <div class="custom-grid custom-image">
              {% if section.settings.image != blank %}             
                 <img class="image-first" src="{{ section.settings.image | img_url:'master' }}"  alt="image first "/>             
               {% endif %}  
              {% if section.settings.image_two != blank %}             
                 <img class="image-two" src="{{ section.settings.image_two | img_url:'master' }}" alt="image two"/>             
               {% endif %}             
        </div>        
       <div class="custom-grid custom-text">
       {%- for block in section.blocks -%}   
           {%- case block.type -%}
            <div class="trend-item">
            {%- when 'caption' -%}
             {% if block.settings.caption !=blank %}
              <h3 class="caption-title">{{ block.settings.caption }}</h3> 
            {% endif %}
             
            {%- when 'heading' -%}
            {% if block.settings.title !=blank %}
              <h3 class="title-text">{{ block.settings.title }}</h3> 
            {% endif %}
             
            {%- when 'text' -%}
            {% if block.settings.text !=blank %}
              <p class="des-text">{{ block.settings.text }}</p>
            {% endif %}
             
             {%- when 'button' -%}         
            {% if block.settings.button_label !=blank %}
             <a href="{{ block.settings.link }}" class="btn">
               {{ block.settings.button_label }}
             </a>
            {% endif %}         
          </div> 
             {% endcase %}
           {%- endfor -%}
        </div>
     </div>
</div>
</div>

{% schema %}
{
  "name": "Custom Image with text",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 6,
  "settings": [
    {
      "type":"text",
      "id":"add_class",
      "label":"Don't change class name"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"Top Heading"
    },
    {
      "type":"text",
      "id":"sub_heading",
      "label":"Top Sub Heading"
    },
    {
      "type":"image_picker",
      "id":"image",
      "label":"Image"
    },
    {
      "type":"image_picker",
      "id":"image_two",
      "label":"image two"
     }, 
      {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "left",
      "label": "left"
    },  
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "caption",
      "name": "caption",
      "limit": 1,
      "settings": [
        {
          "type":"text",
          "id":"caption",          
          "default": "Caption title",
          "label":"Title"
        }
      ]       
    },
    {
      "type": "heading",
      "name": "heading",
      "limit": 1,
      "settings": [
         {
          "type":"text",
          "id":"title",          
          "default": "Heading",
          "label":"Title"
        }
      ]       
    }, 
    {
      "type": "button",
      "name": "button",
      "limit": 1,
      "settings": [
        
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button Link"
        }
      ]       
    },
    {
      "type": "text",
      "name": "text",
        "limit": 1,
        "settings": [  
        {
          "type":"richtext",
          "id":"text",          
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>",
          "label":"Sub heading"
        }
      ]
    }    
  ],
  "presets": [
    {
      "name": "Custom Image with text"
    }
  ]
}
{% endschema %}
